/* :root {
    --db: #001f3f;
    --lb: #024e76;
    --llb:  #39a6b2;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
  }

nav {
    font-size: 30px;
    color: white;
    background-color: var(--db);
    text-align: center;
    margin: 0px;
    padding-top: 0px;
     text-align: center;
     position: relative;
    overflow: hidden;
}

.strawberry {
    font-size: 30px;
    margin-bottom: 20px;
}

#search {
    font-size: 20px;
    color: var(--white);
    background-color: var(--llb);
    max-width: 400px;
    width: 100%;
}

#city-entry {
    font-size: 30px;
} */
